#glossaire_download {
    padding: 8px 25px 8px 25px;
    background-color: red;
    color: white;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -khtml-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    text-align:center;
    height:32px;
    display:none;
    position: absolute;
    font-size: 1.4em;
    font_weight:bold;
}
#glossaire_download a{
    color: yellow;
    font-size: 18px;
}
